%h2 新規ユーザー登録
- if @user.errors.any?
  #error_explanation
    %h2
      = pluralize(@user.errors.count, "error")
      prohibited this project from being saved:textile
    %ul
      -@user.errors.full_messages.each do |message|
        %li= message

= form_for @user, url: 'create-user' do |f|
  .col-md-12
    %h3.user_form ユーザー情報※必須
    .col-md-6
      .field
        = f.label :name
        = f.text_field :name, class: 'form-control'
    .col-md-6
      .field
        = f.label :email
        = f.text_field :email, autofocus: true, class: 'form-control'
  .col-md-12
    .col-md-6
      = f.label :status
      = f.select :status, User.statuses.keys, {}, {class: "form-control"}

  .col-md-12
    .col-md-6
      .field
        = f.label :password
        = f.password_field :password, autocomplete: "off", class: 'form-control'
    .col-md-6
      .field
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
        = f.hidden_field :company_id, :value => current_user.company_id

  .actions.new_user_button
    = f.submit "ユーザー登録", class: 'btn btn-primary'
