.nested-fields.field
  %td= f.text_field :name, class: "table_form"
  %td= f.text_field :logical_name, class: "table_form"
  %td= f.text_field :data_type, class: "table_form"
  %td= f.text_field :

  = link_to_remove_association "カラムの削除", f
