.nested-fields.field
  .col-md-1.cocoon_margin= f.label :id, class: "form-control"
  .col-md-2.cocoon_margin= f.text_field :physical_name, class: "form-control"
  .col-md-2.cocoon_margin= f.text_field :logical_name, class: "form-control"
  .col-md-2.cocoon_margin= f.text_field :data_type, class: "form-control"
  .col-md-1.cocoon_margin= f.text_field :null_false, class: "form-control"
  .col-md-2.cocoon_margin= f.text_field :default_value, class: "form-control"
  .col-md-1.cocoon_margin= f.text_field :foreign_key, class: "form-control"

  .cocoon_margin
    = link_to_remove_association "ー", f, class:"btn btn-greeen"
