= form_for [:project, @table] do |f|
  - if @table.errors.any?
    #error_explanation
      %h2
        = pluralize(@table.errors.count, "error")
        prohibited this project from being saved:textile
      %ul
        -@table.errors.full_messages.each do |message|
          %li= message

  .col-md-1 No.
  .col-md-2 論理カラム名
  .col-md-2 物理カラム名
  .col-md-2 型
  .col-md-1 Null許可
  .col-md-2 デフォルト値
  .col-md-2 外部キー

  .field
    = f.fields_for :columns do |column|
      = render 'column_fields', f: column
  .nested-fields.field
    = link_to_add_association 'カラム追加', f, :columns, class: "btn btn-warning"
  .actions
    = f.submit '登録', class:"btn btn-primary"
