.table_columns_index_form
  %h1= @table.name

  %h2 カラム一覧＆編集
  .container
    カラム名
    -@columns.each do |column|
      = column.name
      = column.data_type
    .edit_button
      = link_to "編集", edit_project_table_path, class:"btn btn-primary"
      = link_to "削除", method: "delete", class:"btn btn-primary", confirm: "are you sure?"
